/* add css module styles here (optional) */

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5); /* Default thumb color */
  border-radius: 4px; /* Rounded corners for the scrollbar thumb */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.8); /* Darker on hover */
}

::-webkit-scrollbar-track {
  background-color: rgba(200, 200, 200, 0.2); /* Track color */
  border-radius: 4px;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background-color: rgba(
      150,
      150,
      150,
      0.5
    ); /* Lighter thumb for dark mode */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(
      150,
      150,
      150,
      0.8
    ); /* Slightly darker hover in dark mode */
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(50, 50, 50, 0.2); /* Darker track in dark mode */
  }
}

/* .react-hot-toast {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.react-hot-toast:nth-child(n + 2) {
  opacity: 0.9;
} */

.notification-panel {
  align-content: start;
}
